a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px
}

.headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiChip-root {
    width: 120px;
}


